body {
    font-family: "Protest Riot", sans-serif;
    background-color: skyblue;
}

h1, h3 {
    text-align: center;
}

nav {
    text-align: center;
}

a {
    margin-right: 50px;
}

section {
    margin-top: 50px;
}

footer {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.weather-container {
    background-image: url('../img/ciel.jpg'); /* Chemin de votre image de fond */
    background-size: cover; /* Assurez-vous que l'image de fond couvre tout le conteneur */
    background-position: center; /* Centrer l'image de fond */
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    position: relative; /* Pour que la position absolue des éléments enfants soit par rapport à ce conteneur */
}

.weather-info {
    position: absolute; /* Position absolue pour placer les éléments textuels par rapport au conteneur */
    top: 50%; /* Positionne le haut de l'élément au centre vertical du conteneur */
    left: 50%; /* Positionne le côté gauche de l'élément au centre horizontal du conteneur */
    transform: translate(-50%, -50%); /* Déplace l'élément de 50% de sa propre largeur vers la gauche et vers le haut, le centrage */
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
    color: rgb(255, 0, 0); /* Couleur du texte */
    font-size: 30px; /* Taille de police du texte */
    font-weight: bold; /* texte en gras */
}

.post-it {
    background-color: #ffff99;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #cccc00;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}