<!DOCTYPE html> <!-- Déclaration du type de document HTML -->
<html lang="fr"> <!-- Définition de la lange de la page HTML -->
    <head>
        <meta charset="UTF-8"> <!-- Définition de l'encodage des caractères -->
        <title>connexion - MesNotes</title> <!-- Titre de la page -->
        <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet"> <!-- lien de la police d'écriture -->
        <link rel="stylesheet" href="/static/css/style.css"> <!-- Lien vers le fichier CSS -->
    </head>
    <body>
        <div class="container"> <!-- Conteneur principal -->
            <h1>MesNotes</h1> <!-- Titre principal -->
            <form action="#" method="POST"> <!-- Formulaire de connexion -->
                <div class="form-group"> <!-- Groupe de champs de formulaire -->
                    <label for="nom">Nom d'utilisateur</label> <!-- Etiquette du champ "nom" -->
                    <input type="text" id="nom" name="nom" required> <!-- Champ de saisie du nom d'utilisateur -->
                </div>
                <div class="form-group"> <!-- Groupe de champs de formulaire -->
                    <label for="mdp">Mot de passe</label> <!-- Etiquette du champ "mdp" -->
                    <input type="password" id="mdp" name="mdp" required> <!-- Champ de saisie du mdp -->
                </div>
                <div class="form-group"> <!-- Groupe de champs de formulaire -->
                    <button type="submit">Connexion</button> <!-- Bouton de soumission du formulaire -->
                </div>
            </form>
        </div>
    </body>
</html>