<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Utilisateur - MesNotes</title>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style2.css">
    </head>
    <body>
        <header>
            <h1>MesNotes</h1>
            <h3>Bonjour {{ nom_utilisateur }} </h3>
        </header>

        <div class="weather-container">
            <div class="weather-info">
                <p>Ville : {{ ville }}</p>
                <p>Température : {{ weather_data.main.temp }}</p>
                <p>Conditions météorologiques : {{ weather_data.weather[0].description }}</p>
            </div>
        </div>

        <div>
            <h3>Pour tester le Flask-RESTful, rajouter a la fin de l'URL " /weather "</h3>
            <h3>Exemple : 127.0.0.1:5000/utilisateur/Philippe/weather</h3>
            <h3>Evidemment, remplacer "Philippe" par votre login</h3>
            <br>
        </div>

        <nav>
            <ul>
                <a href="#voir">Voir les notes</a>
                <a href="#creer">Créer une note</a>
                <a href="#modifier">Modifier une note</a>
                <a href="#supprimer">Supprimer une note</a>
            </ul>
        </nav>

        <section id="voir">
            <h2>Voir mes notes</h2>
        
            <!-- Recherche par titre -->
            <form action="{{ url_for('utilisateur', nom=nom_utilisateur) }}" method="GET">
                <input type="text" name="search_query" placeholder="Rechercher par titre...">
                <button type="submit">Rechercher</button>
            </form>

            <br>
        
            <!-- Tri des notes -->
            <a href="{{ url_for('utilisateur', nom=nom_utilisateur, sort_order='desc') }}">Tri du plus récent au plus ancien</a>
            <a href="{{ url_for('utilisateur', nom=nom_utilisateur, sort_order='asc') }}">Tri du plus ancien au plus récent</a>
        
            <br/><br/>

            <!-- Notes -->
            {% for note in notes %}
            <div class="post-it">
                <h3>{{ note.titre }}</h3>
                <p>{{ note.message }}</p>
                <p>Date de publication : {{ note.date }}</p>
            </div>
            {% endfor %}
        
            <br>

            <!-- Pagination -->
            <div class="pagination">
                {% if notes.has_prev %}
                    <a href="{{ url_for('utilisateur', nom=nom_utilisateur, page=notes.prev_num) }}">&laquo; Précédent</a>
                {% endif %}
                
                {% for num in notes.iter_pages() %}
                    {% if num %}
                        {% if num == notes.page %}
                            <strong>{{ num }}</strong>
                        {% else %}
                            <a href="{{ url_for('utilisateur', nom=nom_utilisateur, page=num) }}">{{ num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
        
                {% if notes.has_next %}
                    <a href="{{ url_for('utilisateur', nom=nom_utilisateur, page=notes.next_num) }}">Suivant &raquo;</a>
                {% endif %}
            </div>
        </section>

        <section id="creer">
            <h2>Créer une note</h2>
            <form action="{{ url_for('creer_note', nom=nom_utilisateur) }}" method="POST">
                <input type="text" name="titre" placeholder="Titre de la note" required><br>
                <textarea name="message" placeholder="Contenu de la note" required></textarea><br>
                <button type="submit">Créer la note</button>
            </form>
        </section>

        <section id="modifier">
            <h2>Modifier une note</h2>
        </section>

        <section id="supprimer">
            <h2>Supprimer une note</h2>
        </section>
        
        <footer>
            <div>
                <p>Copyright@Geoffrey CARO - 2024</p>
            </div>
            <div>
                <p>Mention légal</p>
            </div>
        </footer>
    </body>
</html>