<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Utilisateur - MesNotes</title>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style2.css">
    </head>
    <body>
        <header>
            <h1>MesNotes</h1>
            <h3>Bonjour {{ nom_utilisateur }} </h3>
        </header>
        <div class="image">
            <img src="/static/img/ciel.jpg"/>
        </div>
        <nav>
            <ul>
                <a href="#voir">Voir les notes</a>
                <a href="#creer">Créer une note</a>
                <a href="#modifier">Modifier une note</a>
                <a href="#supprimer">Supprimer une note</a>
            </ul>
        </nav>
        <section id="voir">
            <h2>Voir les notes</h2>
        </section>
        <section id="creer">
            <h2>Créer une note</h2>
        </section>
        <section id="modifier">
            <h2>Modifier une note</h2>
        </section>
        <section id="supprimer">
            <h2>Supprimer une note</h2>
        </section>
        <footer>
            <div>
                <p>Copyright@Geoffrey CARO - 2024</p>
            </div>
            <div>
                <p>Mention légal</p>
            </div>
        </footer>
    </body>
</html>